* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Heebo', sans-serif;
    background-color: aquamarine;
    
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 2% 5%;
    background-color: black;
    position: fixed;
    
}
h1{
    text-align: center;
}
.logoContainer{
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
      
}

h1 {
    line-height: 1.2; 
    }
img{
    width: 50%;
    height: 100%;
}

.users,.credit{
width: 50%;
height: 70%;
border: 2px solid white;
border-radius: 5px;

}
.h1Footer {
    color: white;
    margin-bottom: 8%;
}

.usersMeinBtn, .creditMeinBtn {
    background-color: rgb(69, 179, 89);
    color: black;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.5s;
    font-weight: bold;
}

.usersMeinBtn:hover, .creditMeinBtn:hover {
    background-color: rgb(12, 241, 54);
    transition: 0.5s;
}
.baceContainer{
    padding-top: 150px;
    height: 100%;
    width: 100%;
}

